@charset "utf-8";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.inline-block {
  display: inline-block;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}

#header-search {
  padding-top: 30px;
  padding-bottom: 30px;
}

#header-search>h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  text-indent: -101%;
  overflow: hidden;
  background-image: url(images/sp_search.png);
  background-position: -4px -4px;
  background-repeat: no-repeat;
  /* 위 내용을 한번에 줄이는 거 
  background: url(images/sp_search.png) -4px -3px no-repeat; */
  vertical-align: middle;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  width: 521px;
  height: 49px;
  display: inline-block;
  margin-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 0;
  /* 패딩 한번에 주기 위 오른쪽 아래 왼쪽   위부터 시계방향!!!
  padding: 12px o 12px 10px; */
  box-sizing: border-box;
  border: 2px solid #03cf5d;
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 405px;
  height: 23px;

}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  background: #03cf5d;
  position: absolute;
  top: -2px;
  right: -2px;
}

.search-image {
  background-image: url(images/sp_search.png);
  background-position: -4px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 2px;
}

.search-keybod {
  background-image: url(images/sp_search.png);
  background-position: -33px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 11px;
  display: inline-block;
  cursor: pointer;
}

.search-keybod:hover {
  background-position: -60px -60px;
}

.search-uodown {
  background-image: url(images/sp_search.png);
  background-position: -86px -60px;
  background-repeat: no-repeat;
  width: 10px;
  height: 4px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 3px;
}

.search-uodown:hover {
  background-position: -136px -60px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

nav li {
  display: inline-block;
  vertical-align: 4px;
}

nav li span:first-child {
  height: 16px;
  display: inline-block;
  background-image: url(images/sp_nav.png);
  background-repeat: no-repeat;
  margin-left: 10px;

}

/* 메일 */
nav li:first-child span:first-child {
  width: 25px;
  background-position: 0 -285px;
  margin-left: 0;
  margin-top: 5px;
}

/* 카페 */
nav li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}

/* 블로그 */
nav li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}

/* 지식인 */
nav li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}

/* 쇼핑 */
nav li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}

/* 페이 */
nav li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}

/* TV */
nav li:nth-child(7) span:first-child {
  width: 35px;
  background-position: -125px -130px;
}

/* 사전 */
nav li:nth-child(8) span:first-child {
  width: 25px;
  background-position: -279px -208px;
}

/* 뉴스 */
nav li:nth-child(9) span:first-child {
  width: 25px;
  background-position: -128px -104px;
}

/* 증권 */
nav li:nth-child(10) span:first-child {
  width: 25px;
  background-position: -36px -259px;
}

/* 부동산 */
nav li:nth-child(11) span:first-child {
  width: 39px;
  background-position: -151px -156px;
}

/* 지도 */
nav li:nth-child(12) span:first-child {
  width: 25px;
  background-position: -279px -130px;
}

/* 영화 */
nav li:nth-child(13) span:first-child {
  width: 25px;
  background-position: -234px -233px;
}

/* 뮤직 */
nav li:nth-child(14) span:first-child {
  width: 25px;
  background-position: -72px -259px;
}

/* 책 */
nav li:nth-child(15) span:first-child {
  width: 25px;
  background-position: -140px -78px;
}

/* 웹툰 */
nav li:nth-child(16) span:first-child {
  width: 25px;
  background-position: -279px 0;
}

.more :first-child span:first-child {
  width: 55px;
  background-position: 0 -104px;
}

.nav-divider {
  display: inline-block;
  margin: 6px 16px 0;
  width: 1px;
  height: 24px;
  background-color: #ebeef3;
}

.upbox {
  position: relative;
}

.up-nav {
  position: absolute;
  top: 5px;
  right: 0;
}

.top-nav {
  font-size: 12px;
  font-weight: bold;
  color: rgb(143, 143, 143);
}

#top-click {
  width: 100%;
  border-top: 1px solid #dae1e6;
  border-bottom: 1px solid #dae1e6;
}

.top-click {
  position: relative;

  padding: 4px 0 4px 0;
}

.rank {
  position: absolute;
  top: 14px;
  right: 100px;
}

.rank-number {
  color: #03cf5d;
}

main {
  background-color: #f2f4f7;
  display: inline-block;
  width: 100%;
}

#main-centered {
  padding: 8px 10px;
  width: 1100px;
}

#main-first-block {
  display: inline-block;
  width: 100%;
}

#main-ad {
  float: left;
  width: 740px;
  height: 120px;
  background: #555;
  margin-right: 8px;
  margin-bottom: 8px;
}

#main-login {
  float: left;
  width: 332px;
  height: 120px;
  vertical-align: top;
  background-color: #fff;
}

#main-second-block .inline-block:first-child {
  width: 740px;
}

#main-second-block .inline-block:last-child {
  width: 332px;
  vertical-align: top;
}

#main-ytn {
  display: inline-block;
  width: 740px;
  height: 46px;
  background-color: #fff;
  margin-bottom: 8px;
}

#main-ytn h3, 
#main-ytn ol {
  display: inline-block;
}

#main-newsstand {
  display: inline-block;
  width: 740px;
  height: 246px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #fff;
}

#main-newsstand h3 {
  height: 45px;
  border-bottom: 1px solid #dae1e6;
}

#main-newsstand ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 8px;
  margin-bottom: 8px;
}

#main-newsstand li {
  float: left;
  width: 123px;
  height: 67px;
  border-right: 1px solid #f1f3f6;
  border-bottom: 1px solid #f1f3f6;
  text-align: center;
}

#main-newsstand li img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
}

#main-weather {
  display: inline-block;
  width: 332px;
  height: 142px;
  background-color: #fff;
  margin-bottom: 8px;
}

#main-second-ad {
  display: inline-block;
  width: 332px;
  height: 150px;
  background: #555;
  margin-bottom: 8px;
}

#main-category {
  float: left;
  width: 740px;
  height: 837px;
  background-color: #fff;
  margin-bottom: 8px;
  margin-right: 8px;
}

#main-shopping {
  float: left;
  width: 332px;
  height: 837px;
  background-color: #fff;
  margin-bottom: 8px;
}

#main-third-block,
#main-fourth-block {
  display: inline-block;
  width: 100%;
}

#main-event {
  float: left;
  width: 740px;
  height: 130px;
  background-color: #fff;
  vertical-align: top;
  margin-right: 8px;
}

#main-third-ad {
  display: inline-block;
  width: 332px;
  height: 130px;
  background-color: #555;
}