@charset "utf-8";
/*메인 CSS - main.css*/

/*외부 CSS파일 합치기*/
@import url(core.css);
@import url(reset.css);

body {
  width: 375px;
  height: 812px;
  outline: 1px solid red;
  /* margin: 0 auto; */
  background-color: #f5f4f2;
  overflow: hidden;
}

.top {
  
  width: 375px;
  height: 60px;
  background-color: #fff;
}

.nav1 {
  width: 103px;
  height: 28px;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: -1.5px;
  padding: 15px 0 17px 20px;
}

.navImg {
  width: 24px;
  height: 24px;
  padding: 17px 0 19px 5px;
}

.nav2 {
  width: 35px;
  height: 28px;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: -1.5px;
  padding: 15px 0 17px 5px;
}

.nav2 span {
  color: #bfbfbf;
}

.nav3 {
  width: 35px;
  height: 28px;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: -1.5px;
  padding: 15px 0 17px 5px;
}

.nav3 span {
  color: #bfbfbf;
}

.nav4 {
  width: 35px;
  height: 28px;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: -1.5px;
  padding: 15px 0 17px 5px;
  color: #bfbfbf;
}

.nav4 span {
  color: #bfbfbf;
}

.nav5 {
  width: 35px;
  height: 28px;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: -1.5px;
  padding: 15px 0 17px 5px;
  color: #bfbfbf;
}

.nav5 span {
  color: #bfbfbf;
}

main {
  position: relative;
  width: 375px;
  height: 100%;
  overflow: auto;
}

.main_mbox {
  position: relative;
  width: 375px;
  height: 222px;
  background: #fff;
  margin-top: 8px;
  box-sizing: border-box;
}

.main_box {
  width: 339px;
  height: 186px;
  position: absolute;
  top: 18px;
  left: 18px;
  /* outline: 1px solid red; */
  box-sizing: border-box;
}

.main_nav {
  width: 290px;
  height: 24px;
  display: flex;
}

.main_img {
  background-image: url(../images/twitter1.png);
  width: 100%;
}

.main_id {
  width: 78px;
  height: 20px;
  margin: 2px 0 2px 8px;
}

.main_id>span {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -1.5px;
}

.main_point {
  width: 2px;
  height: 2px;
  background-color: #999;
  margin: 11px 6px 9px 6px;
}

.main_car {
  width: 78px;
  height: 20px;
  margin: 2px 0 2px 0;
}

.main_car>span {
  font-size: 14px;
  font-weight: 500;
  color: #aaa;
  letter-spacing: -1.5px;
}

.main_time {
  position: absolute;
  top: 0;
  right: 0;
}

.main_time>span {
  font-size: 13px;
  color: #aaa;
}

.main_h_box {
  width: 243px;
  height: 102px;
  float: left;
}

.main_h1 {
  width: 243px;
  height: 24px;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.14;
  text-align: left;
  letter-spacing: -2.25px;
  margin-top: 16px;
  font-stretch: normal;
}

.main_h3 {
  width: 243px;
  height: 60px;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.43;
  text-align: left;
  letter-spacing: -1.25px;
  color: #999;
  ;
  margin-top: 10px;
}

.main_img2 {
  margin-top: 16px;
  float: right;
}

.main_choice {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 339px;
  height: 28px;
  /* outline: 1px solid blue; */
}

.main_smail {
  position: relative;
  width: 46px;
  height: 28px;
  outline: 1px solid #ebebeb;
  border-radius: 4px;
  float: left;
  padding-top: 5px;
  padding-left: 8px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.main_smail span {
  position: absolute;
  top: 4px;
  right: 8px;
  color: #999;
}

.main_like {
  position: relative;
  width: 46px;
  height: 28px;
  outline: 1px solid #ebebeb;
  border-radius: 4px;
  float: left;
  margin-left: 4px;
}

.main_like span {
  position: absolute;
  top: 4px;
  right: 8px;
  color: #999;
}

.main_like img {
  margin-top: 5px;
  margin-left: 8px;
}

.main_like2 {
  width: 46px;
  height: 28px;
  outline: 1px solid #ebebeb;
  border-radius: 4px;
  float: right;
  padding-top: 7px;
  padding-left: 15px;
  box-sizing: border-box;
}

.bnav {
  width: 375px;
  height: 54px;
  outline: 1px solid #ebebeb;
  display: flex;
  background-color: #fff;
  margin-top: -54px;
  z-index: 99;
  /* outline: 1px solid red; */
}

.bnav_box {
  position: relative;
  width: 75px;
  height: 54px;
  background-color: #fff;
}

.bnav_box img {
  padding-top: 6px;
  padding-left: 26px;
}

.bnav_box span {
  position: relative;
  top: -6px;
  left: 19px;
  width: 37px;
  height: 15px;
  margin-top: 4.7em;
  font-size: 10px;
}

.bnav_box2 span,
.bnav_box3 span {
  left: 28px;
}

.bnav_box4 span,
.bnav_box5 span {
  left: 24px;
}

.scroll {
  width: 375px;
  height: 54px;
}

.fixed {
  position: relative;
}

.icon_fixed {
  position: relative;
  bottom: 124px;
  left: 296px;
  width: 56px;
  height: 56px;
}

/*전체 페이지 부모(가로스크롤 박스역활)*/
.wrap {
  width: 500%;
  height: 100%;
}

/*페이지 공통*/
.page {
  width: 20%;
  /*부모박스를 7등분함!!*/
  min-height: 100%;
  float: left;
  /*
                width: 100vw;
                height: 100vh;
                보이는 화면 기준의 뷰포트단위를 쓰면 body의 height 100%가 필요없다!!!
                단, vw단위는 스크롤바 트랙까지 포함한 화면 전체를 기준하므로 데이스크 탑에서는 100%를 쓰는게 좋다!!!!(가로스크롤바가 생기기 때문이다!!!)
            */
}

#pg1 {
  background-color: #f5f4f2;
}

#pg2 {
  background-color: red;
}

#pg3 {
  background-color: blue;
}

#pg4 {
  background-color: black;
}

#pg5 {
  background-color: orange;
}